<!DOCTYPE html>
<html lang="en">
<style>
  IMG.displayed {
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
    width: 75%;}
    
   .row {
    text-align: center;
   }
</style>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
    rel="stylesheet">
  </head>
  
  <body>
  
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img style="max-width:100px; margin-top: -7px;"
             src="http://i.imgur.com/ulUkCmz.jpg"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              
                <li><a href="#">Home</a></li>              
                  {% if user.is_authenticated %}
		  <li><a href="{% url "posting-list" %}">View Posts</a></li>
		  <li><a href="{% url "new-post" %}">Make a new Posting</a></li>                  
                  <li> <a href="{% url "user_logout" %}">Logout {{user}}</a></li>
                  {%else%}
                 <li class="active"><a href="{% url "user_login" %}">Login</a></li>
                 <li><a href="{% url "register" %}">Register</a></li>   
                 {%endif%}
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
{{ form }}
</table>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
